[build]
  publish = "dist"
  functions = "netlify/functions"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"
  VITE_GOOGLE_SCRIPT_URL = "/.netlify/functions/google-sheets-proxy"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
